<footer>
    <div class="footer-wrapper">
        <div class="container">
            <div class="d-lg-flex align-items-center justify-content-between" id="flex-container">
                <div>
                    <h2>Контакт</h2>
                    <p class="footer-text">Доколку ви е потребна услуга за чистење или одржување, контактирајте нè за понуда или информации.</p>
                    <ul>
                        <li>
                            <i class="fa-regular fa-envelope pe-2"></i>
                            <span>graboo2025@gmail.com</span>
                        </li>
                        <li>
                            <i class="fa-solid fa-phone-volume pe-2"></i>
                            <span>+389 78 211 816</span>
                        </li>
                    </ul>
                </div>
                <div class="text-lg-end text-center">
                    <img src="/assets/logo_small.png" width="200px" height="200px" alt="">
                    <p>Грабоо ДООЕЛ &copy; 2026 - Скопје</p>
                </div>
            </div>
        </div>
    </div>
</footer>

<style>
    footer {
        margin-top: 100px;
    }

    .footer-wrapper {
        background-color: var(--secondary-color);
        padding: 50px;
        border-top-left-radius: 150px;
        border-top-right-radius: 150px;
    }

    h2 {
        color: white;
        font-size: 56px;
    }

    .footer-text {
        font-size: 20px;
        width: 65%;
    }

    ul {
        list-style-type: none;
    }

    p, li {
        color: rgb(255, 255, 255, 0.7);
    }

    li {
        font-size: 18px;
    }

    @media screen and (max-width: 768px) {
        h2 {
            text-align: center;
        }

        li {
            text-align: center;
        }

        .footer-text {
            width: 100%;
            text-align: center;
            padding: 10px 0;
        }

        #flex-container {
            flex-direction: column;
            justify-content: center;
        }
    }

    @media screen and (max-width: 412px) {
        .footer-wrapper {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        li {
            text-align: start;
        }
    }
</style>