<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="#hero">
        <img src="/assets/logo_small.png" id="logo" alt="Graboo logo">
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fa-solid fa-lines-leaning"></i>
        <!-- <span class="navbar-toggler-icon"></span> -->
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link me-2" aria-current="page" href="#about">За нас</a>
          </li>
          <li class="nav-item">
            <a class="nav-link me-2" href="#basic-services">Хигиенски услуги</a>
          </li>
          <li class="nav-item">
            <a class="nav-link me-2" href="#advanced-services">Специјализирани услуги</a>
          </li>
          <li class="nav-item">
            <a class="nav-link me-2" href="#tutorial">Начин на работа</a>
          </li>
          <li class="nav-item">
            <a class="nav-link me-2" href="#call-to-action">Контакт</a>
          </li>
        </ul>
        <div>
            <a href="#contact" class="btn btn-primary btn-sm">
              <i class="fa-solid fa-phone-volume pe-2"></i>
              <span>Јавете се веднаш</span>  
            </a>
        </div>
      </div>
    </div>
  </nav>
</header>

<style>
    header {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 3000;
    }

    #logo {
        width: 75px;
        height: auto;
        object-fit: cover;
    }

    .nav-link {
      color: white;
      font-weight: 600;
    }

    .navbar {
      transition: background-color 0.4s ease, box-shadow 0.4s ease;
    }

    .navbar.bg-white {
      border-bottom-left-radius: 100px;
      border-bottom-right-radius: 100px;
    }

    .navbar.bg-white .nav-link {
      color: black !important;
    }

    @media screen and (max-width: 768px) {
      .navbar.bg-white {
        border-bottom-left-radius: 75px;
        border-bottom-right-radius: 75px;
      }
      #navbarSupportedContent {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
      }

      .nav-link {
        color: black;
      }
      .navbar-toggler {
        border: none;
        outline: none;
      }
      .navbar-toggler i {
        font-size: 26px;
        color: white;
      }
      .navbar-toggler-color-black {
        color: black;
      }
      .navbar-toggler-color-white {
        color: white;
      }
      .navbar-toggler:focus, 
      .navbar-toggler:active {
        outline: none !important;
        box-shadow: none !important;
      }
    }

    @media screen and (max-width: 412px) {
      .navbar.bg-white {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
</style>